    #button{
        color:black;
        background-color: white;
        width: 240;
        height: 20px;
        margin: 20px;
        border-radius: 25px;
    }
    body{
        background-color: #36393f;
    }
    #buttonn{
        color:black;
        background-color: white;
        width: 160px;
        height: 30px;
        margin: 30px;
        border-radius: 25px;
    }
    #btn-atras {
    color: #ffffff;
    transition-duration: 0.5;
    background-color: #242525;
    width: 160px;
    height: 30px;
    font-size: 20px;
        }
    #btn-atras:hover{
        background-color: #ffffff;
        color:  #242525;
        text-align: center;
    }