#image{
    font-size: 80%;
    color: #000000;    
    background-color: #4b4f57;
    text-align: center;
}
#user6624{
    width: 50%;
    height: 50px;
    margin: 50px;
    border-radius: 50px; 
}
#chat1{
    width: 80%;
}
aside{
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}