#palabras.net{
    font-size: 13vh;
    text-align: center;
    background-color: #36393c
}
#h2-tittle{
    font-size: 13vh;
    color:blue;    
    text-align: center;
    background-color: #36393c
   }
#html{
    font-size: 30px;
    color: #000000;    
    background-color: #4b4f57;
   }