#sc{
    text-align: center;
    color:rgb(255, 255, 255);   
}
.a-ref{
    color: #fff;
    font-size: 1.5em;
    text-decoration: none; /* Propiedad que sirve para quitar el subrayado en las etiquetas <a> */
}
.a-ref:hover{
    font-size: 1.7em;
}
#H1T{
    font-size: 13vh;
    color:rgb(255, 255, 255);    
    text-align: center;
   }
#linkseccion{
    font-size: 15px;
    color: #ffffff;    
   }
#H3S{
    color:rgb(255, 255, 255);    
   }
#GENERAL{
    color: #ffffff;    
   }
#sugerencia{
    color: #ffffff;    
   }
#GRUPOS{
    color: #ffffff;    
   }
#SPAM{
    color: #ffffff; 
}
#VIP{
    color: #ffffff;
}