#sc{
    text-align: center;
    color:white  
}
.a-ref{
    color: white;
    font-size: 1.5em;
    text-decoration: none; /* Anti Subrayado */
}
.a-ref:hover{
    font-size: 1.8em;  /* Evento de Mouse */
}
#H1T{
    font-size: 13vh;
    color: white;
    text-align: center;
   }
#linkseccion{
    font-size: 20px;
    color: white;  
    text-decoration: none; /* Anti Subrayado */
   }
#linkseccion:hover{
    font-size: 20px;
    color:#36393f;;  
    text-decoration: none; /* Anti Subrayado */
   }
#H3S{
    color:white
   }
#GENERAL{
    color: white;    
   }
#sugerencia{
    color: white;    
   }
#GRUPOS{
    color: white;    
   }
#SPAM{
    color:white; 
}
#VIP{
    color: white;
}
#disc{
    text-align: center;
}
#auto{
    color: white;
}
#impo{
    color :white
}
#p{
    color:  #7e91b6;
    font-size: 1px; /* Espacio de Boton /*
}